h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 6px;
    color: rgb(33, 10, 97);
    text-shadow: darkred;
    text-shadow:10%;
    margin-left: 50%;
  }
div{
    width: 70%;
    text-align: left;
    float: none;
    margin-bottom: 5%;
    margin-left: 20%;
  text-shadow: 7%;
  
  color: rgb(0, 0, 36);
  }