.ciclegraph {
	position: relative;
  width: 200px;
  height: 200px;
  margin: calc(100px / 2 + 0px);
}

.ciclegraph:before {
	content: "";
	position: absolute;
	top: 0; left: 0;
  /* border: 2px solid teal; */
  width: calc( 100% - 2px * 2);
  height: calc( 100% - 2px * 2 );
  border-radius: 50%;
}

.ciclegraph .circle {
	position: absolute;
	top: 50%; left: 50%;
  width: 50px;
  height: 50px;
  margin: calc( -100px / 2 );
  /* background: teal; */
  border: 2px solid teal;
  border-radius: 50%;
}

/* 

.ciclegraph2 .circle0, .circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
	position: absolute;
	top: 50%; left: 50%;
  width: 50px;
  height: 50px;
  margin: calc( -100px / 2 );
  /* background: teal; 
  border: 2px solid teal;
  border-radius: 50%;
}


.ciclegraph2 .circle2 {
	position: absolute;
	top: 50%; left: 100%;
  width: 50px;
  height: 50px;
  margin: calc( -100px / 2 );
  border: 2px solid teal;
  border-radius: 50%;
} */

table {
    width: 100%;
    margin: 20px auto;
    display: block;
}

table tr td,
table tr {
    border-collapse: collapse;
    border: 2% solid rgb(19, 0, 54);
    font-size: 14px;
}

table th {
    font-weight: 500;
    color: #ffb100;
    padding: .55rem;
} 