<div class="block-top-1">
    <h1 style="min-width:300px"> Seating Arrangement</h1>
</div>
<div class="block-top-2">
    <h2>Here you can see the sketch of the places after the inlay.</h2>
</div>
<!-- <button class="btn-gold btn-smaller">
    Upload
</button> -->
<!-- <button  class="btn-color" > 
    Upload 
</button> -->
<!-- <div *ngIf="GetSeatings()">
    <div *ngFor="let tables of seatingArrangement; let i = index" [value]="tables.Id">
        <div>{{tables.GuestsList}}</div> 

        <div class="ciclegraph circleposition{{i}}" *ngFor="let guest of tables.GuestsList; let j=index">
            <div class="circle" id="circle{{j}}">{{guest.guest_first_name+ " "+ guest.guest_last_name}} </div>
              <div class="circle" id="circle1">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div> -->
            <!-- <div class="circle" id="circle2">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div>
            <div class="circle" id="circle3">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div>
            <div class="circle" id="circle4">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div>
            <div class="circle" id="circle5">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div>
            <div class="circle" id="circle6">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div>
            <div class="circle" id="circle7">{{guest.guest_first_name+ " "+ guest.guest_last_name}}</div> 
        </div>
    </div>
</div> -->

<div *ngFor="let tables of seatingArrangement; let i = index" [value]="tables.Id">{{ seatingArrangement.length }}
    <div class="ciclegraph circleposition{{i}}" *ngFor="let guest of tables.GuestsList; let j=index">
        <div class="circle" id="circle{{j}}">{{guest.guest_first_name+ " "+ guest.guest_last_name}} </div>
    </div>
</div>

<!-- <div class="form-wrapper-sub row">
    <div class="col-md-10" style="max-width: 700px;">
        <table style="width:100%;font-size: medium;color: rgb(19, 0, 54);" class="table table-striped">
            <thead>
                <tr>
                    <th class="hidden">Id</th>
                    <th>table num</th>
                    <th>categort</th>
                    <th>list of g</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor="let g of guests">-->

<!-- <td class="hidden"></td>
    <td>{{g.guest_first_name}}</td>
     <td>{{g.guest_last_name}}</td>
    <td>{{g.gender}}</td>
    <td> 
                </tr>
            </tbody>
        </table>
    </div>
</div> -->