table {
  width: 75%;
  margin: 20px auto;
}
table tr td,
table tr {
  border-collapse: collapse;
  border: 2% solid rgb(19, 0, 54);
  font-size: 14px;
}
table th{
  font-size: 100%;
  text-shadow: darkred;
}

