<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
</body>

</html>

<div dir="rtl" class="col-md-6 user-container" class="container-fluid">
    <h2 style="margin: auto"> Guest Details</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addGuest()"> Add User</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Tz</th>
        <th>Email</th>
        <th>gender</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let guest of guests">
        <td class="hidden"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-success" (click)="deleteGuest(guest)"> Delete</button>
          <button class="btn btn-success" (click)="editGuest(guest)" style="margin-left: 20px;"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>
