<div class="container mt-4" dir="rtl">
  <h1>אישור השתתפות</h1>
  <br />
  <form novalidate #a="ngForm" (ngSubmit)="onSend(a)">
    <button (click)="seeInvitation()">צפיה בהזמנה</button><br />
    <button (click)="confirm()">אישור</button><br />
    <button (click)="navigateToPlace()">צפיה במקום</button><br />
    <br />
    <div>אני שמחה לאשר השתתפות ורוצה או לא לשבת ליד</div>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="TableMember1.FriendId"
      name="FriendId"
      #FriendId="ngModel"
    />
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="TableMember2.FriendId"
      name="FriendId"
      #FriendId="ngModel"
    />
    <br />
    <input
      type="text"
      class="form-control"
      [(ngModel)]="TableMember3.FriendId"
      name="FriendId"
      #FriendId="ngModel"
    />
    <br />
    <a>:החברים שלך הם</a>
    <a> {{ TableMember1.FriendId }} ,</a>
    <a> {{ TableMember2.FriendId }} ,</a>
    <a> {{ TableMember3.FriendId }} ,</a>
  </form>
</div>
