<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
</body>

    
<div  class="container" >

  <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;size: 5px;color: brown;margin-left: 50%;">conferm partisipance</h1>
  <br />
  <form  novalidate #a="ngForm" (ngSubmit)="onSend(a)" style="font-size: large;" >
    <button class="btn btn-success" style="margin-left: 50pt;" (click)="seeInvitation()">צפיה בהזמנה</button>
    <button class="btn btn-success"style="margin-left: 50pt;" (click)="navigateToPlace()">צפיה במקום</button>
    <br />
    <br />

    <div >אני שמחה לאשר השתתפות ורוצה או לא לשבת ליד</div>
    <mat-form-field appearance="fill">
      <mat-label>Options</mat-label>
      <mat-select [formControl]="options" multiple>
        <mat-select-trigger>
          {{options.value ? options.value[0] : ''}}
          <span *ngIf="options.value?.length > 1" class="example-additional-selection">
            (+{{options.value.length - 1}} {{options.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let option of guests" [value]="option.guest_id+' '+option.guest_first_name+' '+option.guest_last_name">{{option.guest_first_name+option.guest_last_name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- אם אני רוצה שהאוביקט יכיל שם פרטי ומשפחה וID[value]="option.guest_id+' '+option.guest_first_name+' '+option.guest_last_name" -->
<!---table-->
<table class="table table-striped">
  <thead>
  <tr>
    <!-- <th class="hidden">Id</th> -->
    <th>id    Name</th>
    <td>status</td>
    <td>priority</td>
  </tr>
  </thead>
  <tbody>
<tr *ngFor="let g of options.value">
  <!-- <td class="hidden"></td> -->
   <td>{{g}}</td>
    <td><section class="example-section">
      <mat-checkbox class="example-margin">friend?!</mat-checkbox>
    </section>
       <!-- נסיונות שונים שלא עובדים
         לא עובד <div class="p-field-checkbox">
        <p-checkbox [(ngModel)]="checked" binary="true" inputId="binary"></p-checkbox>
        <label for="binary">{{checked}}</label></div>-->
        <!--אין לי את EJ2 ולכן לא עובד
        <ejs-checkbox name="Sport" value="freind" label="freind" [checked]="true"></ejs-checkbox>--></td>
     <td>
  {{g.guest_id}}
     </td>
<!--לא מקבל את הID-->
     <button class="btn btn-success" style="margin-left: 50pt;" (click)="confirm(g.guest_id)">save choice</button>
</tr>
</tbody>
</table> 

  </form>

</div>
