<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div dir="rtl" class="container-fluid">
    <form>
      <button mat-raised-button (click)="openDialog()">הוסף קטגוריה</button>
      <ol>
        <li *ngFor="let a of catagryList">
          שם: <i>{{a.des}}</i>
        </li>
      </ol>
      <input type="button"   class="btn btn-primary pull-right" (click)="onUploudExel()"  value=" המשך לטעינת אורחים על ידי טבלת אקסל:" >
      &nbsp;
      <input type="button"  class="btn btn-primary pull-left" (click)="addGuest()" value="המשך לטעינת אורחים ידני:" >
    </form>
  </div>
</body>

</html>
