<!-- <!DOCTYPE html>
<html lang="en">
<div [ngStyle]="{'backround': 'url(..//images/image.img)'}" class="backround" id="br"></div>

<head class="container-fluid">
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <button mat-button routerLink="login">Login</button>
    <button mat-button (click)="onLogout()">Logout</button>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/about">About YourPlace</a></li>
      <li class="breadcrumb-item"><a routerLink="/login">Login</a></li>
      <li class="breadcrumb-item"><a routerLink="/new-user">New User</a></li>
      <li class="breadcrumb-item"><a routerLink="/new-event">New Event</a></li>
      <li class="breadcrumb-item"><a routerLink="/view-event">Edit Event</a></li>
      <li class="breadcrumb-item"><a routerLink="/add-guest">Add Guest</a></li>
      <li class="breadcrumb-item"><a routerLink="/upload-xl">uplaod Excel file</a></li>
      <li class="breadcrumb-item"><a routerLink="/list-guests"> Guest List</a></li>
      <li class="breadcrumb-item"><a routerLink="/confirm-participation">Confirn Participation</a></li>
      <li class="breadcrumb-item"><a routerLink="/seating-arrangement">saeting arrangemant</a></li>
      <li class="breadcrumb-item"><a routerLink="/reminders">reminders</a></li>
      <li class="logo"></li> -->
      <!-- <li class="breadcrumb-item"><a routerLink="/edit-guest">עריכת אורח </a></li> -->
      <!-- <li class="breadcrumb-item"><a routerLink="/new-event2">categories</a></li> -->
      <!-- <li class="breadcrumb-item"><a routerLink="/about">About YourPlace</a></li> -->
      <!-- <li class="breadcrumb-item active">Courses</li> -->
    <!-- </ol>

    <router-outlet></router-outlet>

  </div> -->
  <!--
<mat-toolbar color="primary">
     
  <mat-toolbar-row>
    <span class="row">
      <span class="col-6">
    <span class="example-fill-remaining-space"></span>
<span class="align-center"></span>
<span class="example-spacer"></span>


  <mat-menu #menu_1="matMenu">
    <button mat-menu-item>
      <mat-icon>about</mat-icon>
       <a [routerLink]="['/about']">about us</a>
    </button>
    <button mat-menu-item >
      <mat-icon>particapin</mat-icon>
      <a [routerLink]="['/confirm-participation']">confirm participation</a>
    </button>
  
  </mat-menu>
  <span class="align-center"></span>
  <span class="example-spacer"></span>

</span>
<span class="col-6">
  <button mat-icon-button [matMenuTriggerFor]="menu_2">
user </button>
 <mat-menu #menu_2="matMenu">
   <button mat-menu-item>
     <mat-icon>new event</mat-icon>
     <a [routerLink]="['/new-event']"> new event</a>

   </button>
   <button mat-menu-item>
     <mat-icon>upload</mat-icon>
     <a [routerLink]="['/upload-xl']">upload xl</a>

   </button>
   
 </mat-menu>

</span>

    </span>
    
    </mat-toolbar-row>
</mat-toolbar>
-->
<!-- 
</body>

</html> -->

<!-- </main>  -->
<!-- 
<router-outlet></router-outlet> -->