<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div  class="col-md-6 container-fluid">
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;size: 5px;color: brown;margin-left: 50%;">Login</h2>
    <form [formGroup]="loginForm" style="font-size: large;">
      <!--#Myform="ngForm"(ngSubmit)="onSubmit(Myform)"-->

        <div class="form-group" name="username">
        <label for="username">Username</label>
        <input type="text" formControlName="username" placeholder="user name" class="form-control"id="username"/>
      </div>
      <div class="form-group" name="useremail">
        <label for="useremail">Useremail</label>
        <input type="text" class="form-control"formControlName="useremail" placeholder="user email" id="useremail"/>
      </div>

      <div class="form-group" name="password">
        <label for="password">Password</label>
        <input type="password"  class="form-control"formControlName="password"placeholder="user password" id="password"/>
    </div>
    <div class="form-group">
        <button [disabled]="!loginForm.valid" class="btn btn-primary"(click)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>

        <button [disabled]="loading" class="btn btn-danger" style="width:100px" (click)="register()">Register</button>
      </div>
    </form>
  </div>
</body>


</html>