<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div dir="rtl" class="col-md-6 user-container"  class="container-fluid">
    <h2 class="text-center">הוספת אורח</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="guest_last_name"> :שם פרטי של האורח</label>
        <input type="text" formControlName="guest_last_name" placeholder="guest_last_name" name="guest_last_name" class="form-control" id="guest_last_name">
      </div>
  
      <div class="form-group">
        <label for="guest_first_name">:שם משפחה של האורח</label>
        <input type="text" formControlName="guest_first_name" placeholder="guest_first_name" name="guest_first_name" class="form-control" id="guest_first_name">
      </div>
  
      <!-- <div class="form-group">
        <label for="guest_tz">:מספר זהות של האורח</label>
        <input type="number" formControlName="guest_tz" placeholder="guest_tz " name="guest_tz" class="form-control" id="guest_tz">
      </div> -->
  
      <div class="form-group">
        <label for="guest_email">:כתובת דואר אלקטרוני של האורח</label>
        <input type="email" formControlName="guest_email" placeholder="guest_email " name="guest_email" class="form-control" id="guest_email">
      </div>
  
      <div class="form-group">
        <label for="gender"> מין: (זכר/נקבה) </label><br>
        <select >
          <option value="male">זכר</option>
          <option value="female">נקבה</option>
        </select>
        <!-- <input type="text" formControlName="gender" placeholder="gender" name="gender" class="form-control" id="gender"> -->
      </div>
      
     
  
      <div class="form-group">
        <label for="guest_message_befor">:הודעה מקדימה </label>
        <input type="text" formControlName="guest_message_befor" placeholder="guest_message_befor" name="guest_message_befor" class="form-control" id="guest_message_befor">
      </div>
  
      <div class="form-group">
        <label for="guest_message_after">: הודעה בסוף </label>
        <input type="text" formControlName="guest_message_after" placeholder="guest_message_after" name="guest_message_after" class="form-control" id="guest_message_after">
      </div>
      <button class="btn btn-danger" style="width:100px" (click)="onSubmit()">add</button>

      <!-- <input type="button" class="btn btn-primary pull-right" (click)="onSubmit()" value="רשימת המוזמנים"
      [disabled]="!addForm.valid">
      <button class="btn btn-success">Add</button> -->
    </form>
  </div>
</body>

</html>