<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div class="col-md-6 user-container"  class="container-fluid">
    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;size: 5px;color: brown;margin-left: 50%;">adding Guests</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" style="font-size: large;">
      
  
      <div class="form-group">
        <label for="guest_first_name">guest first name:</label>
        <input type="text" formControlName="guest_first_name" placeholder="first name" name="guest_first_name" class="form-control" id="guest_first_name">
      </div>

      <div class="form-group">
        <label for="guest_last_name"> guest last name:</label>
        <input type="text" formControlName="guest_last_name" placeholder="last name" name="guest_last_name" class="form-control" id="guest_last_name">
      </div>

      <div class="form-group">
        <label for="guest_email">guest email address:</label>
        <input type="email" formControlName="guest_email" placeholder="guest email " name="guest_email" class="form-control" id="guest_email">
      </div>
  
      <div class="form-group">
        <label for="gender">gender (male/female) </label><br>
        <select >
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
        <!-- <input type="text" formControlName="gender" placeholder="gender" name="gender" class="form-control" id="gender"> -->
      </div>
      
     
  
      <div class="form-group">
        <label for="guest_message_befor">message before:</label>
        <input type="text" formControlName="guest_message_befor" placeholder="message before" name="guest_message_befor" class="form-control" id="guest_message_befor">
      </div>
  
      <div class="form-group">
        <label for="guest_message_after">message after:</label>
        <input type="text" formControlName="guest_message_after" placeholder="message after" name="guest_message_after" class="form-control" id="guest_message_after">
      </div>
      
      <div class="form-group" name="guest_catagory_id">
        <label dor="guest_catagory_id">guest catagory</label>
        <mat-select>
          <mat-option *ngFor="let mes of catagoryList" [value]="mes.Des">
            {{mes.Des}}
          </mat-option>
        </mat-select>
      </div>

      <button class="btn btn-danger" style="width:100px" (click)="onSubmit()">Add</button>

    </form>
  </div>
</body>

</html>