<div class="container mt-4" dir="rtl">
  <h1>הגדרת ארוע בסיסי</h1>
  <h2> new changes</h2>
  <form novalidate #a="ngForm" (ngSubmit)="onSend(a)">
    <!-- <button type="button" (click)="new(); a.reset()">ניקוי</button> -->
    <div class="form-group">
      <label>סוג ארוע</label>
      <h5>Basic mat-select</h5>
      <!-- <div> {{messageService}}</div> -->
     <select>
       <option [value]="messageService" *ngFor="let mes of messageService"> {{messageService}}</option>
     </select>
      <h5>{{messageService}}</h5>
      <label>שם ארוע</label>
      <input
        type="text"
        class="form-control"
       ngModel="event.EventName" 
        name="EventName"
        #EventName="ngModel"
        minlength="5"
        required
      />
      <!-- <div [hidden]="EventName.valid || EventName.pristine">
        name is required
      </div> -->
      <div
        *ngIf="EventName.errors?.minlength && EventName.touched"
        class="alert alert-danger"
      >
        קצר מידי
      </div>
    </div>
    <div class="form-group">
      <label>הזמנה</label>
      <input
        type="text"
        class="form-control"
       ngModel="event.Invitation"
        name="Invitation"
        #Invitation="ngModel"
        value="לעשות תיבה להעלות מהמחשב"
      />
    </div>
    <div class="form-group">
      <label>מועד אחרון לאשר</label>
      <input
        type="text"
        class="form-control"
       ngModel="event.EventDueDate"
        name="EventDueDate"
        #EventDueDate="ngModel"
        minlength="10"
        value="לעשות תיבה עם תאריך או אחרב"
        required
      />
    </div>
    <!-- <div class="p-col-12 p-md-4">
      <p-calendar [(ngModel)]="date3"></p-calendar>
    </div> -->
    <br />
    <a>אמור להיות כתוב {{ event.EventName }}, {{ event.EventType }}</a>
    <div *ngIf="event.EventName && event.EventType && event.EventDate">
      בדיקת תקינות
    </div>
    העלאת קובץ
    <!-- <input
      type="file"
      style="display: inline-block;"
      (change)="incomingfile($event)"
      placeholder="Upload file"
      accept=".xlsx"
    />
    <button type="button" class="btn btn-info" (click)="Upload()">
      Upload
    </button> -->
    <!-- <button (click)="navigate()">המשך</button> -->
    <button [disabled]="!a.form.valid">סיימתי</button>
    <a routerLink="/new-event2">second page</a>
  </form>
</div>
