<!DOCTYPE html >
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Email Validation Tutorial</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="bg">
  <div  >
    <form novalidate #a="ngForm" (ngSubmit)="onSend(a)">
      <h2 >reminders</h2>
      העלאת תזכורות מהמחשב שלי וכו
        <input class="form-control"type="file" (change)="onChange($event)"  formControlName="Reminder" id="Reminder" autocomplete="off">

        <button  (click)="onUploadReminder()"  
            class="btn btn-success"> 
            Upload 
        </button> 

      <!-- Shareable short link of  uoloaded file -->
      <div class="container text-center jumbotron" *ngIf="shortLink">
        <h2> Visit Here</h2>
        <a href="{{shortLink}}">{{shortLink}}</a>
      </div>

      <!--Flag variable is used here-->
      <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
      </div>
      <button class="btn btn-info" style="width:100px" (click)="sendInvitationToAll()">send invitation to all</button>
      <button class="btn btn-info" style="width:100px" (click)="sendReminderToAll()">send reminder to all</button>

    </form>
  </div>
</body>



</html>

