<div class="container mt-4" dir="rtl">
  <h1>משתמש חדש</h1>
  <form (ngSubmit)="add()" [formGroup]="form">
    <br />
    <label>שם פרטי</label>
    <mat-form-field>
      <input matInput formControlName="user_first_name"/>
    </mat-form-field>
    
    <br />
    <!-- <div
       *ngIf="
        userFirstName.errors?.required &&
        (userFirstName.touched || userFirstName.dirty)
      " 
      class="alert alert-danger"
    >
      שם פרטי אינו תקין
    </div> -->
    <label>שם משפחה</label>
    <mat-form-field>
    <input matInput formControlName="user_last_name" /></mat-form-field>
    <br />
    <!-- <div
      *ngIf="
        userLastName.errors?.required &&
        (userLastName.touched || userLastName.dirty)
      "
      class="alert alert-danger"
    >
      שם משפחה אינו תקין
    </div> -->
    <div class="form-group">
      <mat-form-field>
      <label>כתובת מייל</label>
      <input matInput id="email" formControlName="user_email"/></mat-form-field>
      <!-- <div
        *ngIf="userEmail.errors && (userEmail.touched || userEmail.dirty)"
        class="alert alert-danger"
      >
        <div [hidden]="!userEmail.errors?.pattern">
          Invalid email
        </div>
      </div> -->
    </div>

    <br /><mat-form-field>
    <label>מספר טלפון לא חובה</label>
    <input matInput formControlName="user_phone_number"    />
  </mat-form-field>
    <br />
    <mat-form-field>
    <label>סיסמה: </label>
    <input matInput formControlName="user_password"/>
    </mat-form-field>
    <br />
     <button (click)="add()"> 
       add
    </button> 
    <button [disabled]="!form.valid" (click)="save()">save</button>
  </form>
</div>
